.articleBlock05
  .news_content
    padding: 60px 25px
  .news_item
    position: relative
    padding: 0 20px
    cursor: pointer
  .news_pic
    position: relative
    display: flex
    justify-content: center
    &::before
      content: ""
      position: absolute
      top: -5%
      left: 45%
      transform: translateX(-50%)
      width: 100%
      height: 100%
      background: rgba(192, 42, 44, 0.1)
      z-index: -1
  .time
    position: absolute
    bottom: 0px
    left: 0px
    font-size: 20px
    line-height: 24px
    color: $color_white
    background: rgba(192, 42, 44, 0.8)
    b
      font-size: 18px
      font-weight: 400
      padding: 5px
    @include b576
      font-size: 24px
      line-height: 28px
    @include b992
      font-size: 24px
      line-height: 32px
      padding: 10px 25px
  h3
    font-size: 21px
    font-weight: normal
    color: $color_grey_33
    margin-top: 25px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    @include b992
      font-size: 28px
  .swiper-button-next, .swiper-button-prev
    color: $color_func2
  .swiper-pagination-bullet-active
    background: $color_func2
