footer 
  background: $color_grey_33
  color: #f6f6f6
  padding: 60px 0 110px 0
  @include b1400
    padding: 60px 15px 110px 15px
  
  @include b1200 
    padding: 35px 0
  
  @include b768 
    padding: 25px
  
  // .container 
  //   display: flex
  //   align-items: center
  //   justify-content: space-between
  //   @include b1200 
  //     flex-direction: column
    
    
  .copyright 
    text-align: center
    margin-left: 20px
    @include b768 
      display: block
      margin-left: 0
      padding-top: 20px
      
  
  .foot-info 
    @include b1200 
      margin-bottom: 20px
    
    @include b768 
      text-align: center
    
    img 
      @include b768 
        height: 40px
