//  文字大小
$font-base-size: 16px;

// line-height
$ine-height-level: 1.4;

// spacing
$space: 1rem;

// BreakPoint
$b576: 576px;
$b768: 768px;
$b992: 992px;
$b1200: 1200px;
$b1400: 1400px;